.dropdown-menu .dropdown-divider {
  border-top: 1px solid var(--divider-color);
}

.dropdown-menu {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.dropdown-menu.show {
  background-color: var(--navbar-bg) !important;
  box-shadow: 0 5px 10px var(--shadow-color);
}

.dropdown-item {
  background-color: var(--navbar-bg) !important;
  color: var(--navbar-dropdown-item-color);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--navbar-bg) !important;
  color: var(--secondary-color) !important;
}

.disabled.text-muted {
  color: var(--muted-color) !important;
}